In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000
pd.set_option('display.max_colwidth', None)  # or 199

In [2]:
df1 = pd.read_csv("csv/hot.csv")
df2 = pd.read_csv("csv/top.csv")
df3 = pd.read_csv("csv/controversial.csv")

In [18]:
df1['Content Type'].describe()

211

In [20]:
df2['Content Type'].describe()

387
598

In [3]:
df3.describe()

       Upvotes Count  Comments Count  Upvote Ratio
count     593.000000      593.000000    593.000000
mean        6.507589       11.352445      0.617268
std        11.548972       15.134941      0.168404
min         0.000000        0.000000      0.200000
25%         0.000000        3.000000      0.500000
50%         1.000000        6.000000      0.670000
75%         7.000000       13.000000      0.750000
max        67.000000      141.000000      0.880000